
.navbar {
  margin-bottom: 0px;
}

#carousel-example-generic {
  height: 47.5vh;
  background-color: grey;
}

.container hr {
  margin-top: 2px;
}

.panel {
  margin: 2vh 5px;
}

.panel-default {
  padding: 0px;
}

.panel-heading {
  padding: 5px;
}

.button {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #E6E6E6;
  padding: 8px;
}

.button:hover {
  background-color: #E6E6E6;
}
